<div class="container">
  <h1>Articles</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Article Title</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td><a href="/articles/<%= article.id %>"><%= article.title %></a></td>
          <td><%= article.user_id %></td>
          <td><%= article.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to "New Article", new_article_path %>

</div>
